@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-placeholder::placeholder {
	font-size: 1rem;
	color: #888;
}

.custom-scroll {
	scrollbar-width: thin;
	scrollbar-color: #888 #fff;
}
